[submodule "Sigma/vendor/spdlog"]
	path = Sigma/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sigma/vendor/GLFW_L"]
	path = Sigma/vendor/GLFW_L
	url = https://github.com/Bowers-L/glfw.git
[submodule "Sigma/vendor/imgui"]
	path = Sigma/vendor/imgui
	url = https://github.com/Bowers-L/imgui.git
