[submodule "Sigma/vendor/spdlog"]
	path = Sigma/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "glfw"]
	path = glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "Sigma/vendor/GLFW"]
	path = Sigma/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
